@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.container {
    max-width: 92%; /* or whatever size you prefer */
    margin: 0 auto;       /* centers the container */
    box-sizing: border-box;
  }
  